<div class="{{ class }}" id="{{ id }}">
    {{ form_widget(form) }}
</div>

<script>
    $(document).ready(function(){
        $('#language_choice').change(function(){
            window.location = '/' + $('#language_choice option:selected').attr('value')
        });
    });
</script>
