{% extends 'OpenOrchestraDisplayBundle:Block:layout.html.twig' %}

{% block content %}
    <div class="configurable-content">
        <h2>{{ content.name }}</h2>
        {% for attribute in content.attributes %}
            <p><b>{{ attribute.name }}:</b> {{ attribute.value }}</p>
        {% endfor %}
    </div>

    <script src="{{ asset('/bundles/openorchestradisplay/block/ConfigurableContent/js/loadCss.js') }}"></script>
{% endblock %}
