{##
 # This file is part of the PHPOrchestra\DisplayBundle.
 #
 # @author Noël Gilain <noel.gilain@businessdecision.com>
 ##}

<div>
     Title : {{ title }} <br />
     Author : {{ author }} <br />
     News : {{ news }} <br />

    {% if parameters %}
    parameters : {{ dump(parameters) }}
    {% endif %}
</div>
