.gallery {
    width:996px;
    background-color:#000000;
    padding:2px;
    text-align:center;
}

.gallery-picture {
    visibility:hidden;
    border:1px solid #000000;
    opacity:0.8;
}
.gallery-picture:hover {
    border:1px solid #FFFFFF;
    opacity:1;
}

#fancybox-thumbs ul li.active {
    border: 1px solid #444444;
    opacity: 1;
}

#fancybox-thumbs.bottom {
    background-color:#111111;
    padding-top:1px;
    border-top:1px solid #444444;
}

.fancybox-overlay {
    background-color:#000000;
}
