<div
    {% if id is defined and id is not null %}id="{{ id }}"{% endif %}
    {% if class is defined and class is not null%}class="{{ class }}"{% endif %}>
    {% block content %}
    {% endblock %}
</div>
