<ul>
    <li>
        <a href="{{ url(element.node.id) }}">{{ element.node.name }}</a>
        {% if element.child is defined %}
            {% for child in element.child %}
                {% if child %}
                    {% include "OpenOrchestraDisplayBundle:Block/Menu:node.html.twig" with {"element": child} only %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </li>
</ul>
