#main .content-list {
    margin-top: 30px;
}
#main .content-list div {
    position: relative;
    width: calc(50% - 20px);
    float: left;
    margin: 15px 40px 15px 0;
    border: 1px solid #1EA1B9;
    padding: 15px;
    box-sizing: border-box;
}
#main .content-list div h2 {
    color: #00857D;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
}
#main .content-list div .publish_start {
    font-size: 14px;
    float: right;
    color: #00857D;
}
#main .content-list div a {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
}
#main .content-list div:nth-child(even) {
    margin-right: 0;
}
