.content-list {
    margin-top: 30px;
}

.content-list > div {
    position: relative;
    width: calc(50% - 20px);
    float: left;
    margin: 15px 40px 15px 0;
    border: 1px solid #1EA1B9;
    padding: 5px 15px 15px 15px;
    box-sizing: border-box;
}

.content-list > div > h2 > a {
    color: #00857D;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
}

.content-list > div > p {
    margin-top:2px;
}

.content-list > div:nth-child(even) {
    margin-right: 0;
}
