
{% if element is defined %}
    <ul>
        <li><a href="{{ url(element.node.nodeId) }}">{{ element.node.name }}</a></li>
        {% if element.child is defined %}
            {% for child in element.child %}
                {% if child %}
                    {% include "OpenOrchestraDisplayBundle:Block/Menu:node.html.twig" with {"element": child } only %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
{% elseif tree is defined %}
    <div id="{{ id }}" class="{{ class }}">
        {% for element in tree_formatter(tree) %}
            {% include "OpenOrchestraDisplayBundle:Block/Menu:node.html.twig" with {"element": element } only %}
        {% endfor %}
    </div>
{% endif %}
