{% extends 'OpenOrchestraDisplayBundle:Block:layout.html.twig' %}

{% block content %}
    {% if contentTemplateEnabled and contentTemplate is not null %}
        {{ include(template_from_string(contentTemplate)) }}
    {% else %}
        <h1>{{ content.name }}</h1>
        {% for attribute in content.attributes %}
            <div class="{{ attribute.name }}"> {{ attribute.stringValue }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}
