{% extends 'OpenOrchestraDisplayBundle:Block:layout.html.twig' %}

{% block content %}
    {% if contentFromTemplate is defined and contentFromTemplate is not null %}
        {{ contentFromTemplate|raw }}
    {% else %}
        <h1>{{ content.name }}</h1>
        {% for attribute in content.attributes %}
            <div class="{{ attribute.name }}"> {{ attribute.stringValue }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}
