{% extends 'OpenOrchestraDisplayBundle:Block:layout.html.twig' %}

{% block content %}
    <h3 class='blocTitle'>
        <p class='titleModule'>Contact</p>
    </h3>

    {{ form(form) }}
{% endblock %}
